.DS_store
scratch.js
.env
tmp/*
!tmp/.gitkeep
node_modules
notes.txt
examples/*
!examples/*.js
!examples/*.map
!examples/*.md
!/examples/mindfulSelfIndulgence.html
!/examples/index.html
eztrack-service-acct.json
deploy.js
bundle/*/dist/
!bundle/*/dist/.gitkeep